URL=https://artio.faucet.berachain.com/
URL_QUEST_1=https://layer3.xyz/quests/intro-to-cubes
URL_QUEST_15=https://layer3.xyz/quests/intro-to-paragraph
URL_QUEST_68=https://layer3.xyz/quests/base-onchain-daily-the-park-season-2
URL_QUEST_28=https://layer3.xyz/quests/creators-economy-xcelencia
URL_QUEST_29=https://layer3.xyz/quests/base-onchain-daily-coinbase-wallet-undo-all

FIREFOX_PROFILE_DIRECTORY=

METAMASK_PW=
WALLET=

WALLET_PASSWORD=eoOpJyY2mvRNwrJSi9aG8HSH
PRIVATE_KEY=

# proxy vars
PROXY_HOST=88.209.207.119
PROXY_PORT=50100
PROXY_USERNAME=Dropup
PROXY_PASSWORD=HJEhLSI9Cr
